<div class="header">
    <h1 class="fs-1 text-center">AGRO VETERINARIA <span class="fontSegoePrint">LA YUNTA</span></h1>
    <h5 class="fontLucidaCalligraphy">Más de 30 años siviendo al Agricultor y Ganadero</h5>
</div>
<div class="container-fluid">
    <form  (ngSubmit)="postUser()">
        <div class="d-flex justify-content-center py-5">

            <div class="col-sm-12 col-md-4 py-5">
                <br />
                <div class="input-group">
                    <span class="input-group-text">Nombre</span>
                    <input type="text"  placeholder="Nombre" class="form-control" name="name" [(ngModel)]="form.name" />
                </div>
                <br />
                <div class="input-group mb-3">
                    <span class="input-group-text">I Apellido</span>
                    <input type="text" class="form-control" placeholder="Apellido"  name="firstSurname" [(ngModel)]="form.firstSurname" />
                    <span class="input-group-text">II Apellido</span>
                    <input type="text" class="form-control" placeholder="Apellido"  name="secondSurname"  [(ngModel)]="form.lastSurname"/>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-text">Correo</span>
                    <input type="text" placeholder="Correo Electrónico" class="form-control" name="email"  [(ngModel)]="form.email"/>
                </div>
                <br />
                <div class="input-group mb-3">
                    <span class="input-group-text">Contraseña</span>
                    <input type="password" class="form-control" placeholder="Contraseña"   name="password" [(ngModel)]="form.password"/>
                    <span class="input-group-text">Confirmar</span>
                </div>
            </div>
    
            <div class="col-sm-12 col-md-4 py-5">
                <br />
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">Móvil</span>
                    <input type="text" class="form-control" placeholder="+ 506" name="phone" [(ngModel)]="form.phone"/>
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-text">Dirección</span>
                    <input type="text" placeholder="Dirección" class="form-control" name="address"  [(ngModel)]="form.address">
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-outline-success" type="submit">
                Guardar <i class="far fa-save"></i>
            </button>
        </div>
    </form>
</div>